[alias]
    amend = commit --amend --no-edit
    branches = branch -a
    br = branch
    ci = commit
    cl = "!clear"
    co = checkout
    df = diff
    last = log -1 HEAD
    lg = log --oneline --graph --all --decorate
    st = status
    undo = reset --soft HEAD^
    uncommit = reset --soft HEAD^
    unstage = reset HEAD
	pr = "!f() { exec az repos pr \"$@\"; }; f"
	repo = "!f() { exec az repos \"$@\"; }; f"

[branch]
    autosetuprebase = never

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    frag = magenta bold
    meta = yellow bold
    new = green bold
    old = red bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[commit]
    template = ~/.gitmessage

[core]
    editor = code --wait
    excludesfile = /Users/nathanvale/.gitignore_global
    pager = bat --paging=always --pager=less

[delta]
    features = side-by-side line-numbers decorations
    side-by-side = true
    line-numbers = true
    decorations = true
    true-color = always

[diff]
    tool = vscode
    colorMoved = default

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[format]
    pretty = format:%C(auto)%h %d %s %C(black)%C(bold)%cr

[help]
    autocorrect = prompt

[https]
    sslVerify = true

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[log]
    abbrevCommit = true
    date = relative
    decorate = full

[merge]
    tool = vscode
    conflictstyle = diff3

[mergetool "vscode"]
    cmd = code --wait $MERGED

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
  blame = delta

[pull]
    rebase = true

[rerere]
    enabled = true

[push]
    default = current
	autoSetupRemote = true

[user]
	name = Nathan Vale
	email = hi@nathanvale.com
[fetch]
	prune = true
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[coderabbit]
	machineId = cli/41fd6d2b1ee549dda5d34fbda65468cd
