[core]
	excludesfile = /Users/nathanvale/.gitignore_global
	editor = code --wait
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "sourcetree"]
	cmd = code -n -w $MERGED
	trustExitCode = true
[user]
	name = Nathan Vale
	email = nathan.vale@origin.com.au
[http]
[https]
    sslVerify = false
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[branch]
autosetuprebase = always
[push]
	default = current
